@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:400,700');

body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}
.center-column {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

a {
    text-decoration: none;
    color: black;
}

a:hover .headline {
    color: #cc4545;
}

a:hover .story-preview{
    background-color: #efefef;
}

.excerpt {
    color: #777;
    line-height: 1.3em;
}

.story-preview{
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    /* border-bottom: 1px solid #efefef; */
}

.top-bar {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}

.top-bar img {
    max-height: 30px;
}

.dateline {
    text-align: right;
    font-size: 14px;
    color: #aaa;
    font-family: Lato, "sans";
    
}

.headline-group{
    display: flex;
    /* justify-content:space-between */
}

/* a .read-status{ */
/*     /\* background-color: red; *\/ */
/*     background-color: red; */
/* } */

/* a:visited .read-status { */
/*     background-color: white; */
/* } */


/* .read-status{ */
/*     height: 0.5em; */
/*     /\* width: 0.5em; *\/ */
/*     min-width: 0.5em; */
/*     margin-right: 0.5em; */
/*     border-radius: 50%; */
/*     /\* background-color: #aaa; *\/ */
   
/* } */

.url-form{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hint{
    font-size: 12px;
    color: gray;
}