@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather:400,700');

body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}
.center-column {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

a {
    text-decoration: none;
    color: black;
}

a:hover .headline {
    color: #cc4545;
}

a:hover .story-preview{
    background-color: #efefef;
}

.excerpt {
    color: #777;
    line-height: 1.3em;
}

.story-preview-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-preview{
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    
    /* border-bottom: 1px solid #efefef; */
}

.top-bar {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
}

.top-bar img {
    max-height: 30px;
}

.dateline, .category-tag {
    text-align: right;
    font-size: 14px;
    color: #aaa;
    font-family: Lato, "sans";
    
}

.headline-group{
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    font-size:22px;
    /* justify-content:space-between */
}

/* a .read-status{ */
/*     /\* background-color: red; *\/ */
/*     background-color: red; */
/* } */

/* a:visited .read-status { */
/*     background-color: white; */
/* } */


/* .read-status{ */
/*     height: 0.5em; */
/*     /\* width: 0.5em; *\/ */
/*     min-width: 0.5em; */
/*     margin-right: 0.5em; */
/*     border-radius: 50%; */
/*     /\* background-color: #aaa; *\/ */
   
/* } */

.url-form{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hint{
    font-size: 12px;
    color: gray;
}

.category-tag-container{
    display: flex;
    justify-content: flex-end;
}

.category-tag{
    text-align:right;
    color: white;
    position: static;
    top: 0px;
    left: 0px;
    opacity:0.7;    
}

.category-tag:hover{
    opacity:1;
}

.story-preview{
    border-top: 1px solid gray;
}

[data-category="Health Care"] .story-preview{
    border-top: 1px solid blue;
}

.category-tag{
    background-color: gray;
    padding: 0.2em;
    border-radius: 0px 0px 3px 3px;
}

[data-category="Health Care"] .category-tag{
    background-color: blue;
}

[data-category="Higher Education"] .category-tag{
    background-color: magenta;
}

[data-category="Civil and criminal justice"] .category-tag{
    background-color: magenta;
}

[data-category="Sunday reading"] .category-tag{
    background-color: maroon;
}



[data-category="Economic Development"] .category-tag,
[data-category="Budget/Economy"] .category-tag{
    background-color: green;
}

[data-category="Politics"] .category-tag{
    background-color: Orange;
}

[data-category="Immigration"] .category-tag,
[data-category="Washington"] .category-tag{
    background-color: Red;
}


